<li id="<%= feed_items.id %>">
	<%= link_to gravatar_for(feed_items.user), feed_items.user %>
	<span class="user">
		<%= link_to feed_items.user.name, feed_items.user %>
	</span>
	<span class="content"><%= feed_items.content %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(feed_items.created_at) %> ago.
	</span>
</li>